---
import Layout from "../layouts/BaseLayout.astro";
import Config from "data/config.toml";

import { format } from "date-fns";

const { description, links, name } = Config;

const displayName = `${name.first} ${name.last}`;
const now = format(new Date(), "yyyy-MM-dd");
---

<Layout title={displayName}>
  <div id="index" class="flex flex-col gap-4 lg:(flex-row gap-8) items-start">
    <aside class="flex flex-col items-start px-2 lg:(flex-row-reverse items-center px-0 sticky top-12) gap-4">
      <div class="flex-shrink w-[4lh] h-[4lh]">
        <img id="avatar" class="rounded-full" src="avatar.webp" alt={`${displayName}'s photo`}>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex flex-col items-start lg:(justify-self-end items-end)">
          <h1 class="inline-flex flex-row items-baseline lg:justify-end flex-wrap gap-1 font-bold text-3xl leading-6 pb-2">
            <span class="text-accent-800 @dark:text-accent-200">{name.first}</span>
            {name.middle ? <span class="font-normal lt-lg:text-xl">{name.middle}</span> : null}
            <span>{name.last}</span>
          </h1>
          {name.given ? <span>{name.family}<span class="text-accent-800 @dark:text-accent-200">{name.given}</span></span> : null}
        </div>
        <div class="lg:self-end flex flex-row w-fit gap-2 text-2xl">
          {links.filter(({ important }) => important).map(({ icon, url }) => (<a
            class="text-accent-600 @dark:text-accent-400 @hover:text-accent-500 cursor-pointer"
            href={url}
            rel="noopener noreferrer"
            target="_blank"
          >
            <div class={icon}></div>
          </a>))}
        </div>
      </div>
    </aside>

    <main class="max-w-65ch h-full flex flex-col gap-4">
      <section class="font-serif bg-white bg-op-50 @dark:(bg-black bg-op-25) p-4 rounded-4">
        <Fragment set:html={ description } />
      </section>
      <section class="hidden bg-black bg-op-25 p-4 rounded-4 h-[200vh]">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima doloremque illo accusantium quibusdam, similique dignissimos? Sapiente, omnis! Repellat praesentium alias vel voluptatem dolore nemo tenetur dolor, fugit sequi suscipit sit?</p>
      </section>
      <div class="px-2 flex-1 items-start">
        <span class="inline-flex flex-row gap-2 place-items-center">
          <div class="i-mdi-sign-caution text-xl"></div>
          <span class="font-mono">under construction</span>
        </span>
      </div>
      <p class="px-2">
        {displayName}
        &middot;
        {now}
        &middot;
        <a href="https://github.com/Yixuan-Wang/am" rel="noopener" target="_blank">Am</a>
      </p>
    </main>
  </div>
</Layout>

<style>
:root {
  @apply use-accent-ocean;
}

#index {
  min-height: calc(100svh - 5rem);
}
</style>
