---
import type { Entry as BibEntry } from "@retorquere/bibtex-parser";
import Config from "data/config.yaml"

const { entry } = Astro.props as { entry: BibEntry };

function isMe(author: { firstName?: string; lastName?: string }) {
  return author.firstName === Config.name.first && author.lastName === Config.name.last;
}

---

<article class="publication">
  <div class="publication-title">{entry.fields.title}</div>
  <div class="publication-author">
    {entry.fields.author?.map((author, i) => (<Fragment>
      {i > 0 ? <span>, </span> : null}
      <span class:list={[
        isMe(author) ? "font-bold" : null,
      ]}>{author.firstName} {author.lastName}</span>
    </Fragment>))}
  </div>
  <div class="publication-link">
    <span class="font-sans">
      {entry.fields.pubstate === "prepublished" ? (
        <span>Preprint</span>
      ) : null}
      {entry.fields.note ? (
        <span>{entry.fields.note}</span>
      ) : null}
    </span>
    <span>|</span>
    {entry.fields.paper ? (
      <a
        class="colorful"
        href={entry.fields.paper}
        target="_blank"
        rel="noopener noreferrer"
        title="Paper"
      >
        <span>Paper</span>
      </a>
    ) : null}
    {entry.fields.arxiv ? (
      <a
        class="colorful"
        href={`https://arxiv.org/abs/${entry.fields.arxiv}`}
        target="_blank"
        rel="noopener noreferrer"
        title="arXiv"
      >
        <span>arXiv</span> 
      </a>
    ) : null}
  </div>
</article>

<style>
.publication {
  display: flex;
  flex-direction: column;
}

.publication-title {
  @apply text-emph;
  font-weight: bold;
  line-height: 1.25rem;
  font-family: var(--font-serif);
  padding-bottom: 0.125rem;
}

.publication > *:not(.publication-title) {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.publication-author {
  display: flex;
  font-family: var(--font-sans);
  white-space: pre;
}

.publication-link {
  display: flex;
  gap: 0.5ch;
  align-items: center;
  font-family: var(--font-mono);
}

</style>